<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>257570328711-guj2o6geu303ee91jj46830uq2gm345r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.257570328711-guj2o6geu303ee91jj46830uq2gm345r</string>
	<key>API_KEY</key>
	<string>AIzaSyDoRS1qkuuo6stnchbe7F2YHgPf6SMdZpg</string>
	<key>GCM_SENDER_ID</key>
	<string>257570328711</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>oriapy.webservices.gps</string>
	<key>PROJECT_ID</key>
	<string>run-s-eb3a4</string>
	<key>STORAGE_BUCKET</key>
	<string>run-s-eb3a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:257570328711:ios:1daccd4ccb43fc9f28e822</string>
	<key>DATABASE_URL</key>
	<string>https://run-s-eb3a4.firebaseio.com</string>
</dict>
</plist>
